:root {
  /* Colors */
  --card-bg-clr: hsl(215, 23%, 14%);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Font sizes */
  --fs-paragraph: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-heading: 2rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

ul,
ol {
  list-style-type: none;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* Main Style */
body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  line-height: 1.5;
  font-family: "Overpass", sans-serif;
  margin-inline: 2rem;
  background-color: var(--very-dark-blue);
}

main {
  display: grid;
  place-items: center;
}

.rating-card {
  display: grid;
  align-items: start;
  max-width: 27rem;
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: var(--card-bg-clr);
}

.icon-star {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 100vw;
  background-color: var(--dark-blue);
}

.card__heading {
  line-height: 1;
  font-size: var(--fs-heading);
  font-weight: var(--fw-regular);
  margin-bottom: 1rem;
  color: var(--white);
}

.card__desc {
  font-size: var(--fs-paragraph);
  color: var(--light-grey);
  margin-bottom: 1.5rem;
}

.rating__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.rating-btn {
  /* font-size: var(--fs-500); */
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  border-radius: 100vw;
  color: var(--light-grey);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.rating-btn:hover {
  color: var(--white);
  background-color: var(--orange);
}

.rating-btn:focus {
  color: var(--white);
  background-color: var(--light-grey);
}

.submit-btn {
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.8rem;
  border: none;
  border-radius: 100vw;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

.submit-btn:hover {
  color: var(--orange);
  background-color: var(--white);
}

.thank-you-card {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4.2rem 2rem;
  border-radius: 4rem;
  color: var(--white);
  background-color: hsl(215, 23%, 14%);
}

.selected-rating {
  text-align: center;
  width: 24rem;
  padding: 1rem;
  border-radius: 5rem;
  color: var(--orange);
  background-color: var(--dark-blue);
  margin-top: 3rem;
}

/* .thank-you-card-heading {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
}

.thank-you-card-description {
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--light-grey);
} */

/* Utilitels */
.hidden {
  display: none;
}

.attribution {
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: var(--orange);
}

.attribution a:hover {
  color: var(--medium-grey);
}
