:root {
  /* Colors */
  --card-bg-clr: hsl(215, 23%, 14%);
  --orange-hsl: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --orange: 25, 97%, 53%;

  /* Font sizes */
  --fs-paragraph: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-heading: 2rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

ul,
ol {
  list-style-type: none;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* Main Style */
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: "Overpass", sans-serif;
  margin-inline: 2rem;
  background-color: var(--very-dark-blue);
}

.card {
  display: grid;
  align-items: start;
  max-width: 27rem;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  background-color: var(--card-bg-clr);
}

.icon-star {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 100vw;
  background-color: var(--dark-blue);
}

.card__heading {
  line-height: 1;
  font-size: var(--fs-heading);
  font-weight: var(--fw-regular);
  margin-bottom: 1rem;
  color: var(--white);
}

.card__desc {
  font-size: var(--fs-paragraph);
  color: var(--light-grey);
  margin-bottom: 1.5rem;
}

.rating__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.rating-btn {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  border-radius: 100vw;
  color: var(--light-grey);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.rating-btn:hover {
  color: var(--white);
  background-color: var(--orange-hsl);
}

.rating-btn:focus {
  color: var(--white);
  background-color: var(--light-grey);
}

.submit-btn {
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.8rem;
  border: none;
  border-radius: 100vw;
  color: var(--white);
  background-color: var(--orange-hsl);
  cursor: pointer;
}

.submit-btn:hover {
  color: var(--orange-hsl);
  background-color: var(--white);
}

.thank-you-card {
  display: grid;
  place-items: center;
}

.selected-rating {
  text-align: center;
  width: 15rem;
  padding: 0.4rem;
  border-radius: 100vw;
  color: hsl(var(--orange), 0.8);
  background-color: var(--dark-blue);
  margin-block: 2rem;
}

.thank-you__desc {
  max-width: 35ch;
  text-align: center;
  margin: 0;
}

/* Utilitels */
.hidden {
  display: none;
}

.attribution {
  margin: 2rem auto;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: var(--orange-hsl);
}

.attribution a:hover {
  color: var(--medium-grey);
}
